<ul id="lists">
  <% sort(@lists) do |list| %>
    <% p "This is a sorted list #{list}" %>
    <%== create_tag(list[:id], "<li >") %>
      <h2><a href="/lists/<%= list[:id] %>"><%= list[:name] %></a></h2>
      <p><%= uncompleted_items(list[:id]) %>/<%= list[:items].size %><p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/add">Add Item</a>
<% end %>